<%= javascript_pack_tag 'custom/noteBookCreateUpdate' %>
<div id='nb-form-page'>
    <%= render "shared/top_nav" %>
    <%= render "shared/side_nav", note_book: @note_book, editMode: true %>

    <div id="layoutSidenav_content">

        <div id="create-card">
            <h1>Update Notebook Outline</h1>  
            <%= render 'form', note_book: @note_book, editMode: true %>   
        </div>
        <%= render "shared/footer" %>
    </div>
</div>

