<div id="nb-browse-page">
  <div id="nb-browse-header"><h2>Explore</h2></div>
  <%= render 'shared/top_nav' %>
  <%= render 'shared/note_book_collection_renderer', note_books: @note_books, usermode: false %>

  <div id="results-btns">

    <% if ( ( (@page_number.to_i + 1) * 30)  < NoteBook.count ) %>
      <%= button_to 'Next Page', note_books_browse_path(@page_number + 2), method: :get, class: 'next-btn' %>
    <% end %>

    <% if @page_number > 0 %>
      <%= button_to 'Prev Page', note_books_browse_path(@page_number), method: :get, class: 'next-btn' %>
    <% end %>

  </div>

  <%= render 'shared/footer' %>
</div>
