<div id='nb-page'>
    <%= render "shared/top_nav" %>
    <%= render "shared/side_nav",  note_book: @note_book, editMode: false %>

    <div id="layoutSidenav_content">

        <div id="create-card">

            <h1><%= "#{@note_book.title}'s Contents" %></h1>
            <div class="button-container">
                <%= render 'shared/save_note_book_button', note_book: @note_book %>
                <%= render 'shared/edit_button', note_book: @note_book %>
            </div>
            
            <% @note_book.sections.sort_by { |section| section.created_at }.each do |section| %>
                
                <%= render 'section_preview_card', section: section %>

            <% end %>

            
        </div>
        <%= render "shared/footer" %>
    </div>
</div>
<%= javascript_pack_tag 'custom/likeBtn', 'data-turbolinks-track': 'reload' %>
