<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
        <%= link_to 'Home', root_path, class: 'btn btn-link', id: 'nav-home-btn' %> 
    </button>
    <!-- User Nav -->
    <% if  current_user %>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
            <%= link_to 'My Profile', user_profile_path(current_user.id), class: 'btn btn-link', id: 'nav-profile-btn'%> 
        </button>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
            <%= link_to 'Notebook ➕', new_note_book_path, class: 'btn btn-link', id: 'nav-profile-btn'%> 
        </button>
    <% end %>
        

    <!-- Navbar Search-->
    <form class="form-inline" id="nav-search">

    </form>

    <%= form_with url: default_search_path, method: :get, class: "form-inline", id: "nav-search" do |form| %>
        <div class="input-group">
            <%= form.text_field :query, class: "form-control", placeholder: "Search for..." %>
            <div class="input-group-append">
                <%= form.submit 'search', class: 'btn btn-primary' %>
            </div>
        </div>
    <% end %>

    <!-- Navbar drop down-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">

            <div class="dropdown-divider"></div>
                 <% if current_user %>
                    <%= link_to 'Logout',  destroy_user_session_path, class: 'dropdown-item', method: :DELETE %>
                <% else %>
                    <span>Not Logged In </span>
                <% end %>

               
            </div>
        </li>
    </ul>
</nav>